.selectGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 204px;
}

.label {
  font-size: 12px;
  color: #8d929a;
  font-weight: 400;
}

.dropdown {
  padding: 14px 18px 14px 18px;
  border-radius: 12px;
  background: #f7f7f7;
  font-size: 16px;
  font-weight: 500;
  color: #101828;
  cursor: pointer;
  position: relative;
  border: none;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%) rotate(180deg);
  transition: transform 0.3s ease;
  pointer-events: none;
  stroke: #101828;
}

.arrow.open {
  transform: translateY(-50%) rotate(0deg);
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 272px;
  overflow-y: auto;
  background: white;
  border-radius: 12px;
  margin-top: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  z-index: 10;
}

.options::-webkit-scrollbar {
  width: 8px;
}
.options::-webkit-scrollbar-thumb {
  background-color: #dadde1;
  border-radius: 10px;
}
.options::-webkit-scrollbar-track {
  background: transparent;
}

.option {
  padding: 10px 16px;
  cursor: pointer;
  font-size: 16px;
  color: #8d929a;;
}

.option:hover {
  background: #f0f0f0;
}
